<div class="container">
  <% @database.each_with_index do |post, index| %>
    <article>
      <h2><%= post[:title] %></h2>
      <p><%= post[:content].capitalize %></p>
      <div class="kuddos">
        <a href="" class='load-button'>Affichez <%= "#{@comments[index].count} #{@comments[index].count != 1 ? 'commentaires' : 'commentaire'}" %></a>
        <div class="ratings">
          <% if !post[:rating].nil? %>
            <i class="fa fa-thumbs-up"></i>
            <%= post[:rating] %>
          <% end %>
        </div>
      </div>
    </article>
    <hr>
  <% end %>
</div>
