body {
  font-size: 16px;
}
a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
  padding-left: 20px;
  border-left: 1px solid rgba(106,216,106,0.5);
}

.navbar {
  position: relative;
  padding-bottom: 40px;
}

.navbar h1 {
  display: inline-block;
  font-family: monospace;
  font-size: 3em;
  font-weight: bold;
  margin: 20px;
  border-bottom: 3px solid rgba(106,216,106,0.5);
  box-shadow: inset 0 -8px 0 rgba(106,216,106,0.5);
}

article {
  display: flex;
  justify-content: flex-start;
  padding: 60px 0;
  border-bottom: 1px solid rgba(106,216,106,0.8);
}

article h2 {
  font-family: Helvetica;
  font-weight: normal;
  display: inline;
  border-bottom: 3px solid rgba(106,216,106,0.5);
  box-shadow: inset 0 -8px 0 rgba(106,216,106,0.5);
  line-height: 150%;
  text-decoration: none;
}

article p {
  font-family: monospace;
  font-weight: normal;
  margin-top: 20px;
}

article a {
  text-decoration: none;
  color: white;
}

article a:hover {
  text-decoration: none;
  color: inherit;
}

article a:visited {
  text-decoration: none;
  color: white;
}

.post-photo img {
  color: white;
  text-align: center;
  font-family: monospace;
  display: inline-block;
  width: 200px;
  height: 200px;
}

.green-placeholder {
  background-color: rgba(106,216,106,0.8);
}

.kuddos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.load-button {
  display: inline-block;
  color: white;
  font-weight: bold;
  border-radius: 50px;
  padding: 10px 20px;
  transition: background 0.3s ease;
  background-color: rgba(149, 165, 166,0.8);
}

.load-button:hover {
  text-decoration: none;
  color: white;
  background-color: rgba(106,216,106,0.8);
}

.ratings {
  color: rgba(106,216,106,0.8);
  font-size: 16px;
  padding: 10px 10px;
  border-radius: 50px;
}

.comments {
  padding-top: 30px;
  font-family: monospace;
  font-style: italic;
}

li:before {
  content: ' 💬 "';
}

li:after {
  content: '"';
}

.hidden {
  visibility: hidden;
}
